extends layout

block content
  h1 Sistema de Gestão
  p Bem-vindo ao sistema de clientes e produtos.
  ul
    li
      a(href="/produtos") Listar Produtos
    li
      a(href="/clientes") Listar Clientes (requer login)
    li
      a(href="/usuarios") Listar Usuários (requer login)
    li
      a(href="/login") Login
    li
      a(href="/logout") Logout