doctype html
html
  head
    title Página Inicial
  body
    h1 Bem-vindo à API!
    ul
      li: a(href="/login") Login
      li: a(href="/produtos") Produtos (público)
      li: a(href="/clientes") Clientes (privado)
      li: a(href="/usuarios") Usuários (privado)