extends layout

block content
  h1 Login
  form(method="POST", action="/login")
    .mb-3
      label.form-label Usuário
      input.form-control(type="text", name="usuario", required)
    .mb-3
      label.form-label Senha
      input.form-control(type="password", name="senha", required)
    button.btn.btn-primary(type="submit") Entrar
  if error
    .alert.alert-danger.mt-3= error